# File Managed by Puppet 
user <%= scope.lookupvar('nginx::process_user') %>;
worker_processes <%= @processorcount %>;

error_log  <%= scope.lookupvar('nginx::log_dir')%>/error.log;
pid        <%= scope.lookupvar('nginx::pid_file')%>;

events {
  worker_connections <%= scope.lookupvar('nginx::worker_connections')%>;
  # <% if scope.lookupvar('nginx::nx_multi_accept') == 'on' %>multi_accept on;<% end %>
}

http {
  server_tokens off;
  include       <%= scope.lookupvar('nginx::config_dir')%>/mime.types;
  default_type  application/octet-stream;

  access_log  <%= scope.lookupvar('nginx::log_dir')%>/access.log;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';

  limit_req_zone  $binary_remote_addr  zone=one:10m   rate=2r/s;

  sendfile    <%= scope.lookupvar('nginx::sendfile')%>;
  #tcp_nopush  on;
  tcp_nodelay        on;
  client_max_body_size <%= scope.lookupvar('nginx::client_max_body_size')%>;
  keepalive_timeout  <%= scope.lookupvar('nginx::keepalive_timeout')%>;
  server_names_hash_bucket_size <%= scope.lookupvar('nginx::server_names_hash_bucket_size')%>;
  types_hash_max_size <%= scope.lookupvar('nginx::types_hash_max_size') %>;

  log_not_found off;

  gzip         <%= scope.lookupvar('nginx::real_gzip')%>;
  gzip_disable "MSIE [1-6]\.(?!.*SV1)";

<% if scope.lookupvar('nginx::cdir') != '' %>
  include <%= scope.lookupvar('nginx::cdir')%>/*.conf;
<% end %>
<% if scope.lookupvar('::operatingsystem') =~ /(?i:Ubuntu|Debian|Mint)/ %>
  include <%= scope.lookupvar('nginx::config_dir') %>/sites-enabled/*;
<% else %>
  include <%= scope.lookupvar('nginx::vdir')%>/*.conf;
<% end %>
}
