
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />
  <link rel="icon" type="image/png.bgg" href="/images/logo.png" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <title>SpringFruit - Change Password</title>
  <!-- css frameworks -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>

<body>
<div id="intro" class="page-section" style="background: url("/images/city.png") 0 no-repeat;">
<div class="row text-center" style="padding-top:25px;">
  <img src="/images/logo-large.png">
  <h1 style="font-family: Reklame;font-size: 50px;padding-top:25px;padding-bottom:25px;">Change password</h1>
</div>

<div class="container" >
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <form role="form" method="post" action="/api/user/<%=id %>/reset/">
        <div class="form-group">
          <input style="border-radius:30px;" type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="New password">
        </div>
        <div class="form-group">
          <input style="border-radius:30px;" type="password" class="form-control" id="exampleInputPassword1" name="passwordRepeat" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary center-block saveButton">Save</button>
      </form>
    </div>
  </div>
</div>
</div>
</body>

