location <%= @location %> {
	limit_req zone=one burst=5 nodelay;
    try_files $uri $uri/ @node;
}

location @node {
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Host $http_host;
	proxy_set_header X-NginX-Proxy true;

	proxy_pass http://127.0.0.1:3000;
	proxy_redirect off;
}
