
server {
  listen <%= @listen_port %>;
  server_name  www.<%= @server_name %>;
  return 301 $scheme://<%= @server_name %>$request_uri;
}

server {
  listen <%= @listen_ip %><% if defined? @listen_port %>:<%= @listen_port %><% end %><% if @default_server == 'true' %> default_server<% end %>;
  <% # check to see if ipv6 support exists in the kernel before applying %>
  <% if @ipv6_enable == 'true' && (defined? @ipaddress6) %>listen [<%= @ipv6_listen_ip %>]:<%= @ipv6_listen_port %> default ipv6only=on;<% end %>
  server_name <%= @server_name %>;

  access_log  <%= scope.lookupvar('nginx::log_dir')%>/<%= @name %>.access.log;
  error_log  <%= scope.lookupvar('nginx::log_dir')%>/<%= @name %>.error.log;

  root	 <%= @www_root %>;
  index 	 index.html;
